html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: calc(16px + 1vmin);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.8);
    background-color: #f0f0f0;
    padding: 16px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
}

a {
    color: #1155aa;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        ;
    }
}

input {
    width: 100%;
}

canvas {
    display: block;
    margin: 0 auto;
}

input[type="range"] {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.wrapper {
    margin: 0 auto;
    max-width: 512px;
    margin-bottom: 32px;
}

.upload-prompt {
    @extend a;
}

.eq {
    background-color: #333333;
    position: relative;
    display: block;
    border-radius: 4px;
    width: 100%;
    padding-bottom: 50%;
    %point {
        background-color: #cccccc;
        width: 8px;
        height: 8px;
        top: calc(50% - 4px);
        border-radius: 50%;
        position: absolute;
    }
    @for $i from 1 through 7 {
        .point-#{$i} {
            @extend %point;
            $temp: 12.5% * $i;
            left: calc(#{$temp} - 4px);
        }
    }
    %line {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.3);
    }
    %h {
        @extend %line;
        width: 100%;
        height: 1px;
    }
    %v {
        @extend %line;
        width: 1px;
        height: 100%;
    }
    %v-minor {
        @extend %v;
        content: "";
        width: 0.5px;
        background-color: rgba(255, 255, 255, 0.03);
    }
    %h-minor {
        @extend %h;
        content: "";
        height: 0.5px;
        background-color: rgba(255, 255, 255, 0.03);
    }
    .center-h {
        @extend %h;
        top: calc(50% - 0.5px);
    }
    .center-v {
        @extend %v;
        left: calc(50% - 0.5px);
    }
    @for $i from 1 through 15 {
        .v-#{$i} {
            @extend %v-minor;
            left: 6.25% * $i;
        }
    }
    @for $i from 1 through 7 {
        .h-#{$i} {
            @extend %h-minor;
            top: 12.5% * $i;
        }
    }
    .v-4,
    .v-12,
    .h-2,
    .h-6 {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

#fileInputLabel,
input[type="button"] {
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: inherit;
    color: inherit;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px;
    margin: 32px auto;
}

#fileInput {
    display: none;
}

#imageViewer {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}